<!-- ======= End Page Header ======= -->
    <div class="page-header d-flex align-items-center">
      <div class="container position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center">
            <h2>Iniciar Sesión</h2>
          </div>
        </div>
      </div>
    </div><!-- End Page Header -->


<!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="row justify-content-center mt-4">

          <div class="col-lg-9">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="row">
                <div class="col-md-6 form-group">
                  <%= f.label "Mail", class:"form-label" %><br /> 
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control" %>
                </div>

                <div class="col-md-6 form-group mt-3 mt-md-0">                
                <%= f.label "Contraseña", class:"form-label" %><br />
                <%= f.password_field :password, autocomplete: "current-password", class:"form-control" %> 
                </div>
              </div>
              <div class="form-group mt-3">
                  <% if devise_mapping.rememberable? %>
                    <div class="field">
                      <%= f.check_box :remember_me %>
                      <%= f.label :remember_me %>
                    </div>
                  <% end %>
              </div>              

              <div class="text-center"><%= f.submit "Ingresar", class:'btn btn-dark' %></div>
            <% end %>
          </div><!-- End Contact Form -->
          <%= render "devise/shared/links" %>
        </div>

      </div>
    </section><!-- End Contact Section -->

